<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DrawingApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E8B04D7F1E5890A5001856A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8B04D981E5890A5001856A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8B04DA31E5890A5001856A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
